<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Nuevo estudiante</title>
</head>
<body>
  <h1>Ingresar nuevo estudiante</h1>
  <form th:action= "@{/save}" th:object = "${estudiante}" method="post">
    
    <label>Nombre: </label>
    <input type="text" th:field="*{nombre}">
    <span th:errors="*{nombre}" style="color: #E81505"></span><br><br>
    
    <label>Apellido: </label>
    <input type="text" th:field="*{apellido}">
    <span th:errors="*{apellido}" style="color: #E81505"></span><br><br>
    
    <label>Edad: </label>
    <input type="number" th:field="*{edad}">
    <span th:errors="*{edad}" style="color: #E81505"></span><br><br>
    
    <label>Activo: </label>
    <input type="radio" th:field="*{estado}" th:value="${true}"/>
    <label>Inactivo: </label>
    <input type="radio" th:field="*{estado}" th:value="${false}"/><br><br>
    
    <input type= "submit" value="enviar"/>
  </form>
</body>
</html>