<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Mostrar estudiante por llave primaria</title>
  </head>
  <body>
  <label>Estudiante con codigo</label>
  <label th:text="${estudiante.codigoEstudiante}"></label>
   <table>
     <thead>
       <th>Nombre</th>
       <th>Apellido</th>
       <th>Edad</th>
       <th>Estado</th>
     </thead>
       <tr>
         <th th:text="${estudiante.nombre}"/>
         <th th:text="${estudiante.apellido}"/>
         <th th:text="${estudiante.edad}"/>
         <th th:text="${estudiante.estadoDelegate}"/>
       </tr>
   </table>
  <br> <br>
  <label>Computadoras del estudiante</label>
  <table>
    <thead>
      <tr>
        <th>Id computadora</th>
        <th>Marca</th>
      </tr>
    <thead/>
    <tbody>
      <th:block th:each="comp, row: ${estudiante.computadoras}">
       <tr>
         <td th:text="${comp.codigoComputadora}"/>
         <td th:text="${comp.marca}"/>
       </tr>
      </th:block>
    </tbody>
  </table>
  
  </body>
</html>